<div>
        <div class="col-md-2">
<div class="list-group navbar affix col-md-2" id="sidebar">
                <style>
              #sidebar li a.active{
               background-color:red 
              }
                </style>
                <ul class="nav" id="mynav">
                    <li><a href="#home_page" class="list-group-item">
                          Content 1
                        </a>
                    </li>
                    <li> <a href="#about_page" class="list-group-item" contenteditable="false">Content 2
                        </a>
                    </li>
                    <li> <a href="#c3" class="list-group-item" contenteditable="false">Content 3
                        </a>
                    </li>
                    <li> <a href="#c4" class="list-group-item" contenteditable="false">Content 4
                        </a>
                    </li>
                    <li> <a href="#c5" class="list-group-item" contenteditable="false">Content 5
                        </a>
                    </li>
                </ul>
            </div>
</div>

<div class="main col-md-10">
 <!--HOMEPAGE-->
 <section id="home_page">
   <h1> MKIMIMI </h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae sagittis erat, eget pretium sem. Pellentesque sit amet odio et tortor tempus porttitor eget ut neque. Fusce non leo a lorem tincidunt pharetra at nec massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tellus vulputate, egestas libero eu, malesuada lacus. Quisque sapien neque, suscipit sed est id, tempor porta arcu. Integer non consectetur lorem.

Nullam pharetra, justo nec rhoncus tincidunt, erat mauris pretium est, congue facilisis lorem orci non dolor. Sed suscipit, elit id aliquet faucibus, nunc arcu accumsan risus, at accumsan tortor nulla ornare nisl. Maecenas pulvinar volutpat sapien, ut gravida erat euismod eget. Mauris consequat a justo sed posuere. Integer lacinia eget nunc nec dapibus. Vestibulum eu accumsan leo, non ultricies enim. Quisque vel nunc porta, posuere nisi vel, pretium risus. Sed suscipit nisl purus, sed hendrerit mauris mattis molestie. Donec non tincidunt orci, at porttitor neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus ante, ullamcorper non massa id, semper tincidunt orci. Ut tortor lacus, scelerisque feugiat imperdiet vitae, accumsan sed risus. Suspendisse ornare, tortor id tempor elementum, velit massa ullamcorper risus, id vehicula diam purus sed massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat.

Nam quis augue tristique, consectetur elit sed, dapibus sem. Suspendisse potenti. Vestibulum accumsan felis eu velit bibendum congue. Nullam quis auctor turpis. Aenean vestibulum dignissim orci. Quisque at mi eget dui adipiscing laoreet. Nam scelerisque nisi mauris, id varius augue malesuada in.

Nulla fermentum tristique nulla, non euismod lectus. Nunc posuere placerat dapibus. Nam sit amet nibh enim. Nullam ac risus massa. Mauris facilisis quis odio vitae mattis. Nullam consequat dictum nisl, sit amet lobortis leo dignissim ac. Proin suscipit suscipit ullamcorper. In vel enim urna. Aliquam ornare quam ante, a ultricies leo vehicula sed. Pellentesque vulputate nisi eu risus dapibus tincidunt. Curabitur vehicula sagittis tellus, vel feugiat leo consequat dapibus. Aliquam semper tellus eu nibh posuere, a varius ligula blandit. Aliquam lacus justo, ultrices ac sem vel, auctor accumsan sem. Phasellus congue urna mauris, in lobortis arcu semper ac. Nunc fringilla in magna vitae porttitor.

Fusce fringilla elementum augue a mattis. Vestibulum convallis eget neque ullamcorper accumsan. Donec pharetra augue id ornare malesuada. Donec sed volutpat quam. Praesent eget risus dictum, ultrices lorem ut, interdum lorem. Nam sollicitudin eget massa non blandit. Cras ut dolor id massa tempor egestas. Nunc lobortis bibendum lectus. Donec tempus ullamcorper nulla sit amet pretium.
  </section>

 <section id="about_page">
   
      <h1> ABOUT </h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae sagittis erat, eget pretium sem. Pellentesque sit amet odio et tortor tempus porttitor eget ut neque. Fusce non leo a lorem tincidunt pharetra at nec massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tellus vulputate, egestas libero eu, malesuada lacus. Quisque sapien neque, suscipit sed est id, tempor porta arcu. Integer non consectetur lorem.

Nullam pharetra, justo nec rhoncus tincidunt, erat mauris pretium est, congue facilisis lorem orci non dolor. Sed suscipit, elit id aliquet faucibus, nunc arcu accumsan risus, at accumsan tortor nulla ornare nisl. Maecenas pulvinar volutpat sapien, ut gravida erat euismod eget. Mauris consequat a justo sed posuere. Integer lacinia eget nunc nec dapibus. Vestibulum eu accumsan leo, non ultricies enim. Quisque vel nunc porta, posuere nisi vel, pretium risus. Sed suscipit nisl purus, sed hendrerit mauris mattis molestie. Donec non tincidunt orci, at porttitor neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus ante, ullamcorper non massa id, semper tincidunt orci. Ut tortor lacus, scelerisque feugiat imperdiet vitae, accumsan sed risus. Suspendisse ornare, tortor id tempor elementum, velit massa ullamcorper risus, id vehicula diam purus sed massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat.

Nam quis augue tristique, consectetur elit sed, dapibus sem. Suspendisse potenti. Vestibulum accumsan felis eu velit bibendum congue. Nullam quis auctor turpis. Aenean vestibulum dignissim orci. Quisque at mi eget dui adipiscing laoreet. Nam scelerisque nisi mauris, id varius augue malesuada in.

Nulla fermentum tristique nulla, non euismod lectus. Nunc posuere placerat dapibus. Nam sit amet nibh enim. Nullam ac risus massa. Mauris facilisis quis odio vitae mattis. Nullam consequat dictum nisl, sit amet lobortis leo dignissim ac. Proin suscipit suscipit ullamcorper. In vel enim urna. Aliquam ornare quam ante, a ultricies leo vehicula sed. Pellentesque vulputate nisi eu risus dapibus tincidunt. Curabitur vehicula sagittis tellus, vel feugiat leo consequat dapibus. Aliquam semper tellus eu nibh posuere, a varius ligula blandit. Aliquam lacus justo, ultrices ac sem vel, auctor accumsan sem. Phasellus congue urna mauris, in lobortis arcu semper ac. Nunc fringilla in magna vitae porttitor.

Fusce fringilla elementum augue a mattis. Vestibulum convallis eget neque ullamcorper accumsan. Donec pharetra augue id ornare malesuada. Donec sed volutpat quam. Praesent eget risus dictum, ultrices lorem ut, interdum lorem. Nam sollicitudin eget massa non blandit. Cras ut dolor id massa tempor egestas. Nunc lobortis bibendum lectus. Donec tempus ullamcorper nulla sit amet pretium.
  </section>
<!--NAVBAR-->
</div>
        </div>
