<!DOCTYPE html>
<html>
  <head>
    <title><%= (locals.project) ? project.name : "ShellHive Demo App" %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/importer.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51662040-1', '188.226.185.166');
  ga('send', 'pageview');

</script>
    
  </head>
  <body ng-app="app">
    <div ng-controller="shellProject" style="height:100%">
      <div graph options="options" class="visual-builder border data-flow"></div>
    </div>
  </body>
    <script src="/bower_components/pointerevents-polyfill/pointerevents.min.js"></script>
    <script src="/js/sails.io.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--SCRIPTS END-->
    <script src="/bower_components/dropzone/downloads/dropzone.min.js"></script>
    <script src="/bower_components/mousetrap/mousetrap.min.js"></script>

    <!--ANGULAR SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/services/alerts.js"></script>
    <script src="/js/services/creation-popup.js"></script>
    <script src="/js/services/csrf.js"></script>
    <script src="/js/directives/component.js"></script>
    <script src="/js/directives/connector.js"></script>
    <script src="/js/directives/directoryFile.js"></script>
    <script src="/js/directives/filesystem.js"></script>
    <script src="/js/directives/graph.js"></script>
    <script src="/js/directives/mousetrap.js"></script>
    <script src="/js/directives/parameterField.js"></script>
    <script src="/js/directives/port.js"></script>
    <script src="/js/controllers/graphController.js"></script>
    <script src="/js/controllers/macros.js"></script>
    <!--ANGULAR SCRIPTS END-->

    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/js/ui-layout.min.js"></script>


    <%if (locals.project){ %>
      <script src="/js/controllers/shellProject.js"></script>
    <% } else { %>
      <script src="/js/controllers/shellProject_demo.js"></script>
    <% } %>
  
  <script type="text/ng-template" id="myModalContent.html">
    <% include ../ng-templates/macroCreationModal %>
  </script>
    <script type="text/ng-template" id="projectCreationModal.html">
    <% include ../ng-templates/projectCreationModal %>
  </script>
  <script type="text/ng-template" id="MacroEditModal.html">
    <div class="modal-header">
      <h3>Macro</h3>
    </div>
    <div class="modal-body">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" id="name" ng-model="form.name" placeholder="Name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="descr" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea id="descr" rows="3" ng-model="form.description" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="view()" class="btn btn-primary">View Macro</button>
      <button ng-click="edit()" class="btn btn-primary">Edit Macro</button>
      <button ng-click="delete()" class="btn btn-error">Delete Macro</button>
      <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
    </div>
  </script>
  <script type="text/ng-template" id="sidebarModel.html">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">Commands</li>
      <li ng-repeat="command in implementedCommands"><a data-command="{{command}}" href="#" ng-bind="command"></a></li>
      <li class="nav-header">Macros</li>
      <li sidebar-macro-component="name" ng-repeat="(name, val) in $parent.graphModel.macros"></li>
      <li class="nav-header">Utilities</li>
      <li><a new-macro ng-click="open()">New Macro</a></li>
    </ul>
  </script>
  <script type="text/ng-template" id="graphTemplate.html">
    <% include ../ng-templates/graphTemplate.ejs %>
  </script>
 <script type="text/ng-template" id="UserNameModal.html">
    <% include ../ng-templates/UserNameModal.ejs %>
  </script>  
</html>
