body,.graph,.nodes{margin:0}
div[graph-model]{overflow:hidden;}
div[graph-model] > svg,div[graph-model] > .workspace,div[graph-model] > .background{font-size:12px;position:absolute;top:50px;left:0;width:100%;height:100%;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0}
div[graph-model] > .workspace >.nodes{font-size:12px;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0}
div[graph-model] > .background{background-color:#ccc}
div[graph-model] > .workspace,div[graph-model] > svg{overflow:hidden}
div[graph-model] > .navbar{position:absolute;top:0;left:0;right:0;height:50px;}
div[graph-model] > .navbar .glyphicon{border:solid 1px #333;margin:5px;padding:2px;font-size:34px}
.background .shell{z-index:6;overflow:scroll;position:absolute;top:50%;left:0;right:0;bottom:5%;background-color:#333;color:#fff;font-family:Monospace}
.shell .call{font-weight:bold}
.shell .error{color:#f99}
.input-group>.input-group-addon.glyphicon{top:0}
.popup{position:absolute;top:50px;left:0;z-index:10;white-space:nowrap;}
.popup > .dropdown-menu.well{padding:1px}
.popup a{padding-top:0;padding-bottom:0}
.graph{position:fixed;top:0;left:0;width:100%;height:100%}
div[sidebar]{overflow:auto;display:inline-block;position:absolute;top:0;left:0;bottom:0;width:10%;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;background-color:#ddd;z-index:5}
svg.edges{z-index:1}
path{fill:none;stroke:#aaa;stroke-width:5;}
path.sel{stroke:#00f;stroke-width:5}
.component,.inline-component{font-size:1em;position:absolute;min-width:80px;min-height:80px;background-color:#fff;-webkit-border-radius:.3em;border-radius:.3em;border:.2em solid #aaa;z-index:2;}
.component .title,.inline-component .title{text-align:center;background-color:#ddd;height:1.5em;border-top-left-radius:.1em;border-top-right-radius:.1em;}
.component .title .close-button,.inline-component .title .close-button{float:right;font-size:1.1em;text-decoration:none}
.component .input,.inline-component .input{float:left}
.component .output,.inline-component .output{float:right}
.component .box,.inline-component .box{display:inline-block;margin-top:.2em;height:.7em;width:1em;background-color:#aaa;-webkit-border-radius:.1em;border-radius:.1em;}
.component .box:hover,.inline-component .box:hover{background-color:#00f}
.component label,.inline-component label{font-weight:normal;margin:0}
.component input[type="checkbox"],.inline-component input[type="checkbox"]{margin:0}

body{background-color:#eee;color:#111;font-family:Arial;overflow:visible}
.asttest{position:relative;background-color:#ddd;border:solid 1px #000;-webkit-border-radius:3px;border-radius:3px;width:100%;table-layout:fixed;}
.asttest .passed,.asttest .failed{font-weight:bold;padding-bottom:.5em}
.asttest .passed{background-color:#86c144}
.asttest .failed{background-color:#ac4739;color:#eee}
.asttest code{color:inherit;background:none}
.asttest .command td{border-bottom:solid 1px #808080;}
.asttest .command td pre{display:inline-block}
.center{text-align:center}
.tab{list-style:none;padding:10px;background-color:#ccc;display:inline-block;border-top-left-radius:3px;border-top-right-radius:3px;border-top:solid 1px #808080;border-left:solid 1px #808080;border-right:solid 1px #808080;}
.tab:hover,.tab.true{background-color:#ddd}
.tab.true{position:relative;border-bottom:solid 1px #ddd;border-top:solid 1px #000;border-left:solid 1px #000;border-right:solid 1px #000;z-index:2;margin-bottom:-1px}
.tab:first-child{margin-left:1%}
.most{width:30%}
td.top{vertical-align:top}
.inline-component{display:inline-block;position:relative;text-align:left}
p,body > li{margin-left:3em;margin-right:3em;text-align:justify}
.center p{text-align:center}
.nodes{overflow:visible;z-index:1}
.border{border:solid 1px #808080}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;word-wrap:break-word;}
