doctype html
html(ng-app="drag",touch-action="none")
	head
		title Chat
		script(src="/angular/angular.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="pointerevents-polyfill/pointerevents.min.js")
		link(rel="stylesheet",href="css/style.css")
	body(ng-controller="Controller")
		.graph
			.nodes
				.component(id="unix-node-{{node.id}}", template="template-cat", ng-repeat="node in dataNodes track by node.id")
					.title {{node.title}} 
					.ports
						.input
							span.box
							span.text &nbsp;stdin&nbsp;&nbsp;
						.output(style="text-align: right")
							span.text &nbsp;&nbsp;stdout&nbsp;
							span.box
							br
							span.text &nbsp;&nbsp;stderr&nbsp;
							span.box
					br
					br
					div(style="text-align: center"). {{node.arguments[0]}}
					.grep.nodegui(ng-if='node.title == "xgrep"')
						br
						label
							| pattern:
							input(type="text")
						br
						| type:
						select
							option(value="G") basic regexp
							option(value="F") fixed string
							option(value="E") extended regexp 
							option(value="P") perl regexp
						br
						label
							input(type="checkbox", name="ignorecase")
							| ignorecase
						br
						label
							input(type="checkbox", name="invert")
							| invert result
						br
						label
							input(type="checkbox", name="filter")
							| filter
							select
								option(value="word") word
								option(value="line") line
						
			svg.edges(height="100%" width="100%")
				path(connector,ng-repeat="edge in dataEdges")
	script(src="js/script.ls.js")