<form action="/user/create" method="POST" class="form-signin well">
  <h2 class="form-signin-header center">Create Account</h2>

  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="your name" name="name">
  </div>

  <div class="form-group">
          <label for="name">Email address</label>
      <input type="text" class="form-control" placeholder="your email" name="email">
  </div>

  <div class="form-group">
          <label for="name">Password</label>

      <input type="password" class="form-control" placeholder="your password" name="password">
  </div>

  <div class="form-group">
          <label for="name">Password confirmation</label>

    <input type="password" class="form-control" placeholder="password confirmation" name="confirmation">
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>