doctype
html
  head
    title WeeklyReport 1
    meta(charset="utf-8")
    script
        include:js ../bower_components/angular/angular.min.js
    style
        include:css css/style.css
        include:stylus style.styl
  body(ng-app="report",style="margin:2em")
    .center
        h1 Weekly report
        p. MIEIC thesis
        p. Omar Alejandro Castillo de Castro 
        p. Week 16/02/2012 - 22/02/2012


    h2  List of tasks done
    div.changeList
        p.
            In this week I finished revising the technical report, then I started
            the implementation of the Unix commands parser. The next list shows
            the implementation tasks that has been done this week:

        ul
           li. Unix command parser to intermediate abstract syntax tree (AST)
           li. Parse of the "<code>cat</code>" command to visual representation
           li. Parse of the "<code>grep</code>" command to visual representation
           li. Parse of the "<code>bzip2</code>" command to visual representation
           li. Parse of the "<code>bzcat</code>" command to visual representation
           li. Parse of the "<code>bunzip2</code>" command to visual representation 
           li. Parse of the "<code>compress</code>" command to visual representation 
           li. Parse of the "<code>ls</code>" command to visual representation (incomplete)
           li. Parse of visual representation of "<code>cat</code>" command to shell code

    h2  AST tests
    p.
        The next interface shows the tests made to validate the AST of the commands,  on the right side,
        the code highlighted as green means the test has passed, as red means the test has failed.

    .ASTtest(ng-controller="ASTTester")
        .tab(ng-repeat="result in testResults track by result.id", ng-click="updateTab(result.id)", ng-class="(tab == result.id)?'true':'no'")
            | {{result.title}}
        table.asttest(ng-repeat="result in testResults track by result.id",ng-show="tab == result.id")
            tr.command
                td(colspan=2)
                    | command : 
                    pre. {{result.command}}
            tr
                td.border.ast
                    .center. AST Result
                    pre. {{result.ast}}
                td.border.top
                    .center. AST Tests
                    div(ng-repeat="res in result.results",ng-class="res.class") 
                        code. {{res.command}}


    h2  Visual representation of Unix commands

    p.
        The next interface shows the current planned visual interface of the nodes for each
        command, Interacting with the visual node does nothing, in each report additional
        commands will be added and the interface is going to be updated.



    .TransformResults(ng-controller="examples")
        .tab(ng-repeat="result in TransformResults track by result.id", ng-click="updateTab(result.id)", ng-class="(tab == result.id)?'true':'no'")
            | {{result.title}}
        table.asttest(ng-repeat="result in TransformResults track by result.id",ng-show="tab == result.id")
            tr.command
                td(colspan=3)
                    | command : 
                    pre. {{result.command}}
            tr
                td.border.ast.top
                    .center AST
                    pre. {{result.AST}}
                td.border.top
                    .center. Visual Component Data
                    pre. {{result.JSONVisualData}}
                td.border.most.center(ng-init="data = result.visualData.components[0]")
                    div(ng-if="!isImplemented(data)")
                        | Visual representation not implemented
                    .component.inside(ng-if="isImplemented(data)")
                        include component.jade

    h2  Visual representation to Unix text commands

    p.
        The next interface shows the tranformation of the visual node to a command, by interacting
        with the visual node the data and the commands is automatically updated.



    .TransformResults(ng-controller="visual2text")
        .tab(ng-repeat="result in TransformResults track by result.id", ng-click="updateTab(result.id)", ng-class="(tab == result.id)?'true':'no'")
            | {{result.title}}
        table.asttest(ng-repeat="result in TransformResults track by result.id",ng-show="tab == result.id")
            tr.command
                td(colspan=2)
                    | command : 
                    pre. {{result.command}}
            tr
                td.border.top
                    .center. Visual Component Data
                    pre. {{result.JSONVisualData}}
                td.border.most.center(ng-init="data = result.visualData.components[0]")
                    div(ng-if="!isImplemented(data)")
                        | Visual representation not implemented
                    .component.inside(ng-if="isImplemented(data)")
                        include component.jade


    h2  PlayGround

    p.
        This is just an area to play or test some of the completed features, it will be
        updated in each report. For now the AST builder is done, when filling the command
        box it automatically updates the resulting AST of the command. 

    .playGround(ng-init="tab=1")
        .tab(ng-click="tab==1", ng-class="(tab == 1)?'true':'no'"). AST Builder
        table.asttest(ng-show="tab == 1",style="min-height:20em")
            tr
                td.top.ast-builder(ng-controller="ast-playground")
                    label
                        | command : 
                        input.code(ng-model="builder.code",ng-change="generateAST()",style="width:80%")
                        br
                    div.result
                        | result
                        pre(ng-show="!builder.error"). {{builder.result}}
                        pre(style="color:red",ng-show="builder.error"). {{builder.result}}



    h2  Plans for the next week

    ul
        li. Create the visual representations of Unix shell code using <i>pipes</i> and <i>process substiitution</i>
        li. Add collaboration with multiple users
        li. Continue implementing the parser for other commands.

    script(src="js/parser.js")
    script(src="js1/play.js")