@import 'nib'

body, .graph, .nodes
	margin 0
div[graph-model]
	overflow hidden 
	> svg, > .workspace, > .background 
		font-size 12px
		absolute top 50px left 0
		width 100%
		height 100%
		transform-origin: 0 0
	> .workspace >.nodes
		font-size 12px
		absolute top left
		width 100%
		height 100%
		transform-origin: 0 0
		//transform translate3d(0,0,0)
	> .background
		background-color: #ccc
	> .workspace, > svg
		overflow hidden		
	> .navbar
		absolute top left right
		height: 50px
		.glyphicon
			border solid 1px #333
			margin 5px
			padding 2px
			font-size: 34px

.background .shell
	z-index 6
	overflow: scroll
	absolute top 50% left 0 right 0 bottom 5%
	background-color #333
	color white
	font-family Monospace

	
.shell 
	.call
		font-weight bold		
	.error
		color: #f99

.input-group>.input-group-addon.glyphicon
	top 0

.popup
	absolute top 50px left 0
	z-index 10 
	white-space nowrap
	> .dropdown-menu.well
		padding 1px
	a
		padding-top 0
		padding-bottom 0

.graph
	fixed top left
	width:100%;
	height:100%;

div[sidebar]
	overflow auto
	display inline-block
	absolute top left bottom
	width: 10%
	transition: all 0.3s linear;
	background-color: #ddd

	z-index: 5



svg.edges
	z-index: 1

path
	fill: none
	stroke: #aaa
	stroke-width: 5
	&.sel
		stroke: blue
		stroke-width: 5
.component, .inline-component
	font-size 1em
	position absolute
	min-width 80px
	min-height 80px
	background-color #fff
	border-radius 0.3em
	border 0.2em solid #aaa
	z-index: 2
	.title
		text-align: center
		background-color #ddd
		height: 1.5em
		border-top-left-radius 0.1em
		border-top-right-radius 0.1em
		.close-button
			float right
			font-size 1.1em
			text-decoration none
	.input
		float left
	.output
		float right
	.box
		display inline-block
		margin-top 0.2em
		height: 0.7em
		width: 1em
		background-color #aaa
		border-radius 0.1em	
		&:hover
			background-color blue
	label
		font-weight: normal
		margin: 0
	input[type="checkbox"]
		margin: 0