@import 'nib'


@media print
	*
		-webkit-print-color-adjust:exact

html,body,div[graph-model]
	width: 100%
	height: 100%
	margin: 0
	padding: 0
.popupArea
	overflow auto

body, .graph, .nodes
	margin 0
div[graph-model]
	overflow hidden 
	.layout, .tips
		absolute top 50px left 0
		width 100%
		height calc(100% - 50px)
	svg, .workspace, .background, .workspace > .nodes, .popupArea
		font-size 12px
		absolute top 0 left 0
		width 100%
		height 100%
		transform-origin: 0 0
	.workspace, svg
		overflow hidden		
	.navbar
		absolute top left right
		height: 50px
	.user-icon
		border solid 1px #333
		margin 5px
		padding 2px
		font-size: 34px

.filename
	text-align: center
	font-family: Monospace
	font-size: 1.2em
	font-weight: bold

.tips
	z-index 20
	background-color #eee
	color #000
	 

.ui-splitbar
	z-index: 8

.background
	background-color: #ccc
	position relative
	width 100%
	height 100%

.shell
	z-index auto
	overflow: auto
	margin-top: 8px
	background-color #333
	color white
	font-family Monospace
	transition height linear 0.1s
	&.ng-hide
		display: block !important
		height: 0 
	.call
		font-weight bold		
	.error
		color: #f99

.input-group>.input-group-addon.glyphicon
	top 0

.popup,.selectpopup
	absolute top 50px left 0
	z-index 10 
	white-space nowrap
.popup
	> .dropdown-menu.well
		padding 1px
	a
		padding-top 0
		padding-bottom 0

.graph
	fixed top left
	width:100%;
	height:100%;

div[sidebar]
	overflow auto
	display inline-block
	absolute top left bottom
	width: 10%
	transition: all 0.3s linear;
	background-color: #ddd

path
	fill: none
	stroke: #aaa
	stroke-width: 3
	&.sel
		stroke: blue
		stroke-width: 5
	&.back
		stroke-width: 5
		stroke: #777
.input-group-addon
	color black

.component, .inline-component
	font-size 1em
	position absolute
	min-width 80px
	min-height 80px
	background-color #fff
	border-radius 0.3em
	border 0.2em solid #aaa
	z-index auto
	.input-group-addon, .input-group-btn>.btn,.form-control
		height 24px
		padding 2px 10px
		border-radius 0
	.input-group-addon
		border initial
		background-color initial
		padding-left 2px
	.input-group-addon, .input-group-btn
		width initial
	.form-control
		float initial
		width initial
	.title
		text-align: center
		background-color #ddd
		height: 1.5em
		border-top-left-radius 0.1em
		border-top-right-radius 0.1em
		.close-button
			float right
			font-size 1.1em
			text-decoration none		
	.input
		float left
	.output
		float right
	.box
		display inline-block
		margin-top 0.2em
		height: 0.7em
		width: 1em
		background-color #aaa
		border-radius 0.1em	
		&:hover
			background-color blue
	label
		font-weight: normal
		margin: 0
	input[type="number"]
		width: 7em

