@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .badge {
    font-size: 10px;
  }
  .nav > li > a {
    padding: 8px 10px !important;
  }
  .nav > li > a.user-info {
    padding: 0px 4px !important;
  }
  .navbar {
    min-height: 40px;
  }
  .layout,
  .tips,
  .new-project,
  .directory,
  .alerts,
  .tutorial-panel,
  .create-component-popup,
  .selectpopup {
    top: 40px  !important;
  }
  div[graph] .user-icon {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 10px;
  }
  .badge {
    font-size: 9px;
  }
}
@media print {
  @page {
    size: 14in 10in;
    margin: 0cm;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  body.sr-shoot .navbar-fixed-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
  }
  body.sr-shoot .navbar-fixed-top a[href]:after {
    content: "";
  }
  body.sr-shoot .shell > div {
    font-size: 2em;
  }
  body:not(.sr-shoot) .layout,
  body:not(.sr-shoot) .tips,
  body:not(.sr-shoot) .new-project,
  body:not(.sr-shoot) .directory,
  body:not(.sr-shoot) .alerts {
    top: 0 !important;
  }
}
.shortcuts {
  font-size: 0.8em;
  float: right;
  margin-top: 0.2em;
}
body[ng-app="app"] {
  overflow: hidden;
}
html,
body,
div[graph] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.popupArea {
  overflow: auto;
}
body,
.graph,
.nodes {
  margin: 0;
}
.layout,
.tips,
.new-project,
.directory,
.alerts,
.tutorial-panel {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.alerts > div {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 30%;
  z-index: 20;
}
.alerts .alert {
  margin-bottom: 0;
}
div[graph] {
  overflow: hidden;
}
div[graph] .navbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* IE10+ */
}
div[graph] .navbar li a {
  cursor: pointer;
}
div[graph] .new-project {
  background: #A4AACC;
}
div[graph] svg,
div[graph] .workspace,
div[graph] .background,
div[graph] .workspace > .nodes,
div[graph] .popupArea {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
div[graph].chat-open svg,
div[graph].chat-open .workspace {
  right: 16em;
}
div[graph].videobeam .feedback {
  display: none;
}
div[graph].videobeam .background {
  background-color: #aaa;
}
div[graph].videobeam .nav > li > a {
  color: white !important;
}
div[graph] svg,
div[graph] .workspace {
  overflow: hidden;
}
div[graph] a.user-info {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 0px;
  line-height: 34px;
  display: table;
}
div[graph] a.user-info .user-label {
  line-height: normal;
  vertical-align: middle;
  display: table-cell;
}
div[graph] .user-icon {
  border: solid 2px #999;
  border-radius: 50%;
  margin: 3px;
  margin-bottom: 1px;
  margin-left: 10px;
  padding: 4px;
  font-size: 26px;
}
.filename {
  text-align: center;
  font-family: Monospace;
  font-size: 1.2em;
  font-weight: bold;
}
.alert {
  z-index: 20;
}
.ui-splitbar {
  z-index: 8;
}
.background {
  background-color: #ccc;
  position: relative;
  width: 100%;
  height: 100%;
}
.shell {
  z-index: auto;
  overflow: auto;
  margin-top: 8px;
  background-color: #333;
  color: #fff;
  font-family: Monospace;
  transition: height linear 0.1s;
}
.shell .call {
  font-weight: bold;
}
.shell .error {
  color: #f99;
}
.shell pre {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
  white-space: pre-line;
}
.shell.ng-hide {
  display: block !important;
  height: 0;
}
.input-group > .input-group-addon.glyphicon {
  top: 0;
}
.create-component-popup,
.selectpopup {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  white-space: nowrap;
}
.create-component-popup > .dropdown-menu,
.selectpopup > .dropdown-menu {
  padding: 1px;
  display: block;
}
.edgepopup {
  position: absolute;
  z-index: 10;
  text-align: center;
  margin: 0;
}
.edgepopup .content {
  background: #0f718d;
  padding: 10px;
  color: white;
  position: absolute;
  white-space: nowrap;
  margin: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.edgepopup .content.top {
  bottom: 100%;
  transform: translate(-50%, -10px);
}
.edgepopup .content.bottom {
  transform: translate(-50%, 10px);
}
.tip .tooltip {
  background: #0f718d;
  bottom: 100%;
  color: #fff;
  display: block;
  width: 25em;
  left: 50%;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  white-space: initial;
  position: absolute;
  text-align: left;
  font-weight: normal;
  transform: translate(-50%);
  transform-origin: 50% calc(110%);
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.tip.bottom .tooltip {
  border-left: solid transparent 11px;
  bottom: initial;
  margin-bottom: initial;
  transform-origin: 50% 0;
  margin-top: 15px;
  top: 100%;
}
.tip.left .tooltip {
  transform: translate(-5%);
}
.tip.right .tooltip {
  transform: translate(-95%);
}
.dropdown.open .tip .tooltip {
  display: none;
}
/* This bridges the gap so you can mouse into the tooltip without it disappearing */
/* CSS Triangles - see Trevor's post */
.edgepopup .content:after,
.tip .tooltip:after {
  border-left: solid transparent 11px;
  border-right: solid transparent 11px;
  border-top: solid #0f718d 11px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.tip.left .tooltip:after {
  left: 5%;
}
.tip.right .tooltip:after {
  left: 95%;
}
.edgepopup .content.bottom:after,
.tip.bottom .tooltip:after {
  border-top: none;
  border-bottom: solid #0f718d 11px;
  top: -10px;
  bottom: initial;
}
.edgepopup .content {
  background: #444;
}
.edgepopup .content.bottom:after {
  border-bottom: solid #444 11px;
}
.edgepopup .content.top:after {
  border-top: solid #444 11px;
}
.tip:hover .tooltip {
  opacity: 1;
}
.create-component-popup a {
  padding-top: 0;
  padding-bottom: 0;
}
.create-component-popup.left-side > ul {
  transform: translate(-100%);
}
.graph {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div[sidebar] {
  overflow: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  transition: all 0.3s linear;
  background-color: #ddd;
}
path {
  fill: none;
  stroke: #aaa;
  stroke-width: 5;
}
path.sel {
  stroke: #00f;
  stroke-width: 6;
}
path.from-file-output {
  stroke: #77a;
}
path.from-command-output {
  stroke: #595;
}
path.from-command-error {
  stroke: #a77;
}
path.from-macro {
  stroke: #A89238;
}
path.back {
  stroke-width: 7;
  stroke: #777;
}
path.back.from-file-output {
  stroke: #33f;
}
path.back.from-command-output {
  stroke: #080;
}
path.back.from-command-error {
  stroke: #944;
}
path.back.from-macro {
  stroke: #B8703D;
}
.input-group-addon {
  color: #000;
}
