@media print
{
  @page { size:12in 9in; margin: 0cm }

  *{-webkit-print-color-adjust:exact; print-color-adjust: exact;}
  body.sr-shoot{
    .navbar-fixed-top{
      position: absolute;
      top: 0;
      left:0;
      right: 0;
      display: block;

      a[href]:after {
        content: "";
      }
    }

    .shell > div{
        font-size: 2em
    }


  }
  body:not(.sr-shoot){
    .layout, .tips, .new-project, .directory, .alerts{
      top:0 !important;
    }
  }
  
}

.shortcuts{
    font-size: 0.8em;
    float: right;
    margin-top: 0.2em;
}

body[ng-app="app"]{
    overflow:hidden;

}

html,body,div[graph]{
    width:100%;
    height:100%;
    margin:0;
    padding:0
}
.popupArea{
    overflow:auto
}


body,.graph,.nodes{margin:0}

.layout, .tips, .new-project, .directory, .alerts, .tutorial-panel{
  position:absolute;
  top:50px;
  bottom:0;
  left:0;
  right: 0;
}

.alerts > div{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 30%;
    z-index: 20;
}

.alerts .alert{
    margin-bottom: 0
}

div[graph]{

  overflow:hidden;

    .new-project{
        background: #A4AACC;
    }
  
  svg, .workspace, .background, .workspace > .nodes, .popupArea{
    font-size:12px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  
  svg, .workspace{
    overflow:hidden
  }
  
  .user-icon{
    border:solid 1px #999;
    margin:5px;
    padding: 8px;
    font-size: 28px;
    color:#eee;
  }
}

.filename {
    text-align:center;
    font-family:Monospace;
    font-size:1.2em;
    font-weight:bold;
}
.alert {
    z-index:20;
}
.ui-splitbar {
    z-index:8;
}
.background {
    background-color:#ccc;
    position:relative;
    width:100%;
    height:100%;
}


.shell {
    z-index:auto;
    overflow:auto;
    margin-top:8px;
    background-color:#333;
    color:#fff;
    font-family:Monospace;
    transition:height linear 0.1s;
    .call {
        font-weight:bold;
    }
    .error {
        color:#f99;
    }
    pre{
        background-color:#333;
        color:#fff;
        margin: 0;
        padding: 0;
        border: none;
        font-size: 1em;
    }
}
.shell.ng-hide {
    display:block !important;
    height:0;
}
.input-group {
    & > .input-group-addon.glyphicon {
        top:0;
    }
}
.popup,.selectpopup {
    position:absolute;
    top:50px;
    left:0;
    z-index:10;
    white-space:nowrap;
    & > .dropdown-menu {
        padding:1px;
        display: block;
    }
}


.tutorial-panel{
    background-color: #eee;
  z-index:2040;
    p{
        padding-left: 2em;
        font-weight: bold;
        font-size: 1.5em;
    }
    .tab-pane{
        overflow: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        bottom: 0;

    }
    img{
        border: 2px solid #7a7;
        border-radius: 2px;
    }
}

.edgepopup{
    position:absolute;
    z-index:10;
    text-align: center;
    margin: 0;
    .content{
        position:absolute;
        white-space: nowrap;
        margin: 0;
    }
    .content.top{
        transform: translate(-50%,-100%)
    }
    .content.bottom{
        transform: translate(-50%)
    }
}
    
.popup a {
    padding-top:0;
    padding-bottom:0;
}
.graph {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
div[sidebar] {
    overflow:auto;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:10%;
    transition:all 0.3s linear;
    background-color:#ddd;
}

path {
    fill:none;
    stroke:#aaa;
    stroke-width:5;
}
path.sel {
    stroke:#00f;
    stroke-width:6;
}

path.from-file-output{
    stroke:#77a;
}

path.from-command-output{
    stroke:#595;
}

path.from-command-error{
    stroke:#a77;
}

path.from-macro{
    stroke:#A89238;
}

path.back {
    stroke-width:7;
    stroke:#777;
}

path.back.from-file-output{
    stroke:#33f;
}

path.back.from-command-output{
    stroke:#080;
}

path.back.from-command-error{
    stroke:#944;
}

path.back.from-macro{
    stroke:#B8703D;
}



.input-group-addon {
    color:#000;
}
