<div class="homepage">
	<% include ../user/new.ejs %>
	<div class="project-icon-container">
		<img src="images/icon.svg">
	</div>
	<div class="align-center">
		<div class="terminal">
			<p>	A flow-based visual Unix Shell interface </p>g
		</div>
	</div>
</div>
