    <div class="tip title">
      <div class="tooltip" ng-if="showTooltip" ng-style="{transform:'translate(-50%) scale('+(1/transformScale())+')'}"> Drag me to move me! </div>
      <span class="title-name" ng-bind="title.name"></span>
      <span class="button-group" ng-if="title.buttons">
        <a ng-click="togglecollapse()" 
           class="glyphicon" 
           ng-class="(collapsed)?'glyphicon-chevron-up':'glyphicon-chevron-down'">
        </a> 
        <a ng-click="$emit('removeComponent', data.id)" class="close-button glyphicon glyphicon-remove"></a>
    </div>
    <div class="ports">
      <div class="input">
        <div>
          <div class="tip" data-port="{{port.name}}" ng-repeat="port in inputPorts">        
            <span class="box"></span>
            <span class="relative">
              <div class="tooltip" ng-if="showTooltip" ng-style="{transform:'translate(-50%) scale('+(1/transformScale())+')'}"> 

            Drag me to create a pipe.
            <br>Drop it on an empty space to
           create and connect to a new component.
            <br>Drop me above above one of us
            to connect to another component! </div>
          </span>
            <span class="text" ng-bind="port.text"></span>
          </div>
        </div>
      </div>
      <div class="output">
        <div class="tip" data-port="{{port.name}}" ng-repeat="port in outputPorts"> 
          <span class="text" ng-bind="port.text"></span>
          <span class="relative">
              <div class="tooltip" ng-if="showTooltip" ng-style="{transform:'translate(-50%) scale('+(1/transformScale())+')'}"> 

            Drag me to create a pipe.
            <br>Drop it on an empty space to
           create and connect to a new component.
            <br>Drop me above above one of us
            to connect to another component! </div>
          </span>
          <span class="box"></span>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>



  <div ng-switch-when="input">
    <div class="ports">
      <div class="output">
        <div class="input-group input-group-sm">
          <div ng-repeat="port in data.ports track by $index">
          <button  ng-if="!collapsed" ng-click="data.ports.splice($index,1)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span>
        </button>        
          <input type="text" ng-model="data.ports[$index]" class="form-control">
          <span data-port="{{'macroIn'+$index}}"><span class="box"></span></span>
        </div>
                </div>

        <button ng-click="data.ports.push('')" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
  </div>

  <div ng-switch-when="output">
    <div class="ports">
      <div class="input">
        <div class="input-group input-group-sm">
        <div ng-repeat="port in data.ports track by $index">        
          <span data-port="{{'macroOut'+$index}}"><span class="box"></span></span>
          <input type="text" ng-model="data.ports[$index]" class="form-control">
          <button  ng-if="!collapsed" ng-click="data.ports.splice($index,1)" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-remove"></span>
        </button>        </div>

        <button ng-click="data.ports.push('')" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        </div>

      </div>
    </div>
  </div>


  <div ng-switch-when="file">
    <div class="input-group input-group-sm">
      <input parameter-field class="filename form-control" type="text" ng-model="data.filename">
    </div>
  </div>
  
  <div ng-switch-when="macro">
    <div class="btn btn-sm btn-primary" ng-click="graph.setGraphView(data.graph)">
      view macro
    </div>
  </div>
  
  <div ng-switch-when="command">   


    <div ng-if="data.files !== undefined && (!collapsed || data.files.length)">files :<br ng-if="data.files.length > 0">
      <div ng-repeat="file in data.files track by $index">
        <span data-port="file{{$index}}">
          <span class="box"></span>
        </span>
        <span ng-bind="'entry' + $index" ng-if="isString(data.files[$index])"></span>
        <span ng-bind-template="{{' '+data.files[$index][0]+' '}}" ng-if="isArray(data.files[$index])"></span>
        <button  ng-if="!collapsed" ng-click="data.files.splice($index,1);$emit('updateComponent',data)" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button  ng-click="swapPrevious(data.files,$index,data.id);$emit('updateComponent',data)" ng-if="$index && !collapsed" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button ng-click="swapPrevious(data.files,$index + 1,data.id);$emit('updateComponent',data)" ng-if="$index != data.files.length -1 && !collapsed" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-chevron-down"></span>
        </button><br>
      </div>
      <button ng-if="!collapsed" ng-click="data.files.push('');$emit('updateComponent',data)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button><br>
    </div>
    <div ng-if="data.exec == 'awk'">script:<br>
      <textarea parameter-field type="text" ng-model="data.script"></textarea>
    </div>
    



    
    <div ng-if="data.parameters">
      <form name="myForm" ng-repeat="(name, option) in data.parameters track by name">
        <div ng-class="{'has-error': myForm.field.$invalid}" class="input-group input-group-sm">
          <label ng-bind="name" class="input-group-addon"></label>
          <input parameter-field type="text" name="field" ng-model="data.parameters[name]" 
                 ng-if="data.exec == 'curl' && name!='url'" size="4" class="form-control">
          <input parameter-field type="text" name="field" ng-model="data.parameters[name]" 
                 ng-if="data.exec != 'curl' || name=='url'" class="form-control">
        </div>
      </form>
    </div>
    





    
    <div ng-if="data.exec == 'grep'">
      <div>
        <label>pattern:
          <input parameter-field type="text" ng-model="data.pattern">
        </label><br>
      </div>
    </div>


    <div ng-if="isImplemented(data) &amp;&amp; data.selectors">
      <form name="myForm" ng-repeat="(name, option) in data.selectors track by name">
        <div ng-class="{'has-error': myForm.field.$invalid}" class="input-group input-group-sm">
          <label ng-bind="name" class="input-group-addon"></label>
          <input type="number" name="field" ng-model="data.selectors[name].value" 
                 ng-if="data.selectors[name].type == 'numeric parameter'" min="0" required class="form-control">
          <div class="input-group-btn">
            <button elscope type="button" ng-click="graph.setSelection({data:data, name:name},scopedElement)" class="btn btn-default">
              <span ng-bind="data.selectors[name].name"></span><span class="caret"></span>
            </button>
          </div>
          <input type="text" ng-model="data.selectors[name].value" name="field" 
                 ng-if="data.selectors[name].type == 'parameter'" class="form-control">
        </div>
      </form>
    </div>


    <div>
      <span ng-repeat="(name, val) in data.flags track by name" ng-click="data.flags[name] = !val;$emit('updateComponent',data)" ng-if="!collapsed || data.flags[name]">
        <label ng-class="(val)?'glyphicon-check':'glyphicon-unchecked'" class="glyphicon"></label>
        <label ng-bind="name"></label>
        <br>
      </span>
    </div>
  </div>

