<div class="directory directory-manager" filesystem ng-if="filesystem">
  <div class="container-fluid">
    <div class="row-fluid">
      <div ng-repeat="record in directoryContent" class="col-xs-4 col-sm-3 col-md-2" directoryfile
      draggable="true">
        <p class="text-center"><span class="icon glyphicon glyphicon-file"></span></p>
        <p class="icon-label text-center" ng-bind="record.name"></p>
      </div>
    </div>
  </div>
  <div class="upload btn"> Upload File </div>
</div>