   <div ng-if="showTips" class="tips">
      <tabset>
        <tab heading="Components"><h1 id="components">Components</h1>
<p>In this module exists 3 types of componenrs</p>
<ul>
<li><strong> Command Component </strong> - represents a Unix command</li>
<li><strong> File Components </strong> - represents a file that will be used for input and output</li>
<li><strong> Macro Components </strong> - represents macros in the graph, a macro is a composition of interconnected commands</li>
</ul>
<h2 id="creating-components">Creating components</h2>
<p>There are 2 ways to create components, one way is by using the top bar, and the
other by connecting a port to an empty space</p>
<p>When connecting to an empty space a popup menu appears</p>

          <h3>Creating a command component by using the mouse</h3>
          <img src="/tipsNtricks/newComponentMouse.svg" width="45%">
          > > > >
          <img src="/tipsNtricks/newComponentResult.svg" width="45%">
          <br>
          
          <h3>Creating command component by using the text field</h3>
          <br>
          <img src="/tipsNtricks/newComponentText.svg" width="45%">
          > > > >
          <img src="/tipsNtricks/newComponentResult.svg" width="45%">
          <br>
          <h3>Creating file component by using the text field</h3>
          <br>
          <img src="/tipsNtricks/newFileComponentText.svg" width="45%">
          > > > >
          <img src="/tipsNtricks/newFileComponentResult.svg" width="45%"><br>
          <h3>Creating command component with arguments by using the text field</h3>
          <br><img src="/tipsNtricks/newFullCommandComponentText.svg" width="45%">
          > > > >
          <img src="/tipsNtricks/newFullCommandComponentTextResult.svg" width="45%">
        </tab>
        <tab heading="Macros"><h1 id="macros">Macros</h1>

        </tab>
      </tabset>
    </div>