<div class="alerts">
  <div>
  <alert ng-repeat="alert in alerts.alerts" type="{{alert.type}}" class="repeated-item" close="alerts.closeAlert($index)">{{alert.msg}}

    <div class="progress progress-striped active" ng-if="alert.progress">
      <div class="progress-bar"  role="progressbar" aria-valuenow="{{alert.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{alert.progress}}%">
        <span>{{alert.progress}}%</span>
      </div>
    </div>
  </alert>
  </div>
</div>
<% include popupArea   %>
<% include graphNavbar %>
<% include directory   %>
<% include tutorial    %>
<div ui-layout class="layout">
  <div class="toplayout">
    <div class="background">
      <svg touch-action="none">
        <g class="edges">
          <path class="emptyEdge"></path>
          <path connector ng-repeat="edge in visualData.connections" class="back"></path>
          <path connector ng-repeat="edge in visualData.connections"></path>
        </g>
      </svg>
      <div touch-action="none" class="workspace">
        <div class="nodes">
        <div component ng-repeat="data in visualData.components track by data.id" ng-switch on='data.type' data-node-id="{{data.id}}" ng-style="{transform:transform}" class="{{data.type}}-component component">
          <% include Component.ejs %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="$root.shell" touch-action="all" class="shell">
    <pre ng-repeat="line in $parent.shellText | limitTo: -100" ng-class="line.type" ng-bind="line.text"></pre>
  </div>
</div>
<% include minimap %>


<div style="z-index:9" class="chat" ng-if="chat.open">
  <button type="button" class="close" ng-click="chat.open = false; graph.updateLater()" aria-hidden="true">&times;</button>
  <div style="overflow:auto; padding-top: 1em; height:30%">
  <div ng-repeat="c in clients track by c.id">
    <b ng-style="{color:c.color}" ng-bind="c.name"></b>
  </div>
  </div>
  <hr style="margin:0">
  <div style="overflow:auto;height:calc(70% - 34px)">
  <div ng-repeat="c in chatMessages">
    <b ng-style="{color:c.color}" ng-bind="c.sender"></b>
    <span ng-bind="c.text"></span>
  </div>
  </div>
  <form role="form" class="form" ng-init="chatMsg = ''" ng-submit='$emit("chat",{text: chatMsg}); chatMsg = ""'>
    <input type="text" id="name" ng-model="chatMsg" placeholder="send chat message" class="form-control">
  </form>
</div>
