<notification-area class="alerts"></notification-area>
<div class="popupArea" data-popup-area></div>
<% include graphNavbar %>
<div class="directory directory-manager" filesystem ng-if="status.filesystem"></div>
<% include tutorial    %>
<div ui-layout class="layout">
  <div class="toplayout">
    <div class="background">
      <div data-connectors-layer></div>
      <div touch-action="none" class="workspace" workspace>
        <div class="nodes">
          <div component ng-repeat="data in visualData.components track by data.id" data-node-id="{{::data.id}}" class="{{::data.type}}-component component"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-terminal ng-show="$root.shell" touch-action="all" class="shell"></div>
</div>
<div minimap></div>
<chat style="z-index:9" clients="clients" chat-messages="chatMessages" class="chat" ng-if="chat.open"></chat>
