<div class="alerts">
  <div>
  <alert ng-repeat="alert in alerts.alerts" type="{{alert.type}}" class="repeated-item" close="alerts.closeAlert($index)">{{alert.msg}}

    <div class="progress progress-striped active" ng-if="alert.progress">
      <div class="progress-bar"  role="progressbar" aria-valuenow="{{alert.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{alert.progress}}%">
        <span>{{alert.progress}}%</span>
      </div>
    </div>
  </alert>
  </div>
</div>
<% include popupArea %>
<% include graphNavbar %>
<% include directory %>
<div ui-layout class="layout">
  <div class="toplayout">
    <div class="background">
      <svg touch-action="none">
        <g class="edges">
          <path class="emptyEdge"></path>
          <path connector ng-repeat="edge in visualData.connections" class="back"></path>
          <path connector ng-repeat="edge in visualData.connections"></path>
        </g>
      </svg>
      <div touch-action="none" class="workspace">
        <div class="nodes">
          <% include Component.ejs %>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="shell" touch-action="all" class="shell">
    <pre ng-repeat="line in $parent.shellText" ng-class="line.type" ng-bind="line.text"></pre>
  </div>
</div>

<div class="chat" ng-if="chat.open">
  <button type="button" class="close" ng-click="chat.open = false" aria-hidden="true">&times;</button>
  <div ng-repeat="c in clients track by c.id">
    <b ng-style="{color:c.color}" ng-bind="c.name"></b>
  </div>
  <hr>
  <div ng-repeat="c in chatMessages">
    <b ng-style="{color:c.color}" ng-bind="c.sender"></b>
    <span ng-bind="c.text"></span>
  </div>
  <form role="form" class="form" ng-init="chatMsg = ''" ng-submit='$emit("chat",{text: chatMsg}); chatMsg = ""'>
    <input type="text" id="name" ng-model="chatMsg" placeholder="send message" class="form-control">
  </form>
</div>
