<div minimap ng-style="{width: mapSize, height: mapSize}">
	<svg touch-action="none">
	  <g class="mini-edges" ng-style="{transform: transform, strokeWidth:1.5/scale}">
	    <path miniconnector ng-repeat="edge in visualData.connections"></path>
	  </g>
    </svg>
	<div class="minimap-nodes" ng-style="{transform: transform}">
		<div minicomponent ng-repeat="data in visualData.components track by data.id" ng-style="{transform:'translate(' + data.position.x + 'px, ' + data.position.y + 'px)', width:offsetWidth, height:offsetHeight, borderWidth:1/scale}" ng-switch on='data.type' class="{{data.type}}-component mini-component"></div>
		<div class="viewbox"></div>
	</div>
</div>