<div class="popupArea">
  <div class="popup dropdown open">
    <ul class="dropdown-menu well">
      <form ng:submit="graph.popupSubmit(popupText)">
        <div class="input-group input-group-sm"><span class="input-group-addon glyphicon glyphicon-tasks"></span>
          <input type="text" ng-model="popupText" class="form-control">
        </div>
      </form>
      <li ng-show="comms.length" class="dropdown-header">
        <b>command component</b>
      </li>
      <li ng-class="cl" ng-mouseenter="cl = 'active'" ng-mouseleave="cl = ''" 
          ng-repeat="foo in comms = (implementedCommands | filter:popupText)">
        <a ng-click="graph.popupSubmit(foo)">{{foo}}</a>
      </li>
      <li ng-show="comms2.length && isRootView()" class="dropdown-header">
        <b>macro component</b>
      </li>
      <li ng-class="cl" ng-mouseenter="cl = 'active'" ng-mouseleave="cl = ''" 
          ng-repeat="foo in comms2 = (macroViewList() | filter:popupText)">
        <a ng-click="graph.popupSubmit(foo)">{{foo}}</a>
      </li>
      <li ng-if="popupText.indexOf(".") > -1" class="dropdown-header">
        <b>file component</b>
      </li>
      <li ng-class="cl" ng-mouseenter="cl = 'active'" ng-mouseleave="cl = ''" ng-if="popupText.indexOf(".") > -1">
        <a ng-click="graph.popupSubmit(popupText)">{{popupText}}</a>
      </li>
    </ul>
  </div>


  <div ng-if="sel.open" class="selectpopup dropdown open"
       ng-style="{transform:sel.transform, WebkitTransform:sel.transform, MsTransform:sel.transform}">
    <ul class="dropdown-menu">
      <li ng-repeat="c in options[sel.data.exec][sel.name]"><a ng-click="graph.selectSelection(c)"><span ng-bind="c"></span></a></li>
    </ul>
  </div>


  <div class="edgepopup" ng-repeat="c in edgePopups track by c.index" ng-style="{transform:c.transform, WebkitTransform:c.transform, MsTransform:c.transform}">
    <div class="content well well-sm" ng-class="(c.y < 120)?'bottom':'top'">  
    <div>Remove the connection?</div>
    <button class="btn btn-sm btn-success" ng-click="$emit('removePipe',{id: c.id});
    edgePopups.splice($index,1)">Remove</button>
    <button class="btn btn-sm btn-primary" ng-click="edgePopups.splice($index,1)">No</button>
    </div>

  </div>

</div>