<div class="modal-header">
  <h3>Project Initialization</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Command</label>
      <div class="col-sm-10">
        <input type="text" id="command" ng-model="form.command" placeholder="e.g. cat -A hello.txt | grep &quot;world&quot;" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-primary">Create Project</button>
</div>