.title {{data.exec}} 
.ports
    .input
        span.box
        span.text &nbsp;stdin&nbsp;&nbsp;
    .output(style="text-align: right")
        span.text &nbsp;&nbsp;stdout&nbsp;
        span.box
        br
        span.text &nbsp;&nbsp;stderr&nbsp;
        span.box
        br
        span.text &nbsp;&nbsp;return&nbsp;
        span.box
br
br
br
div(ng-if="data.exec == 'grep'")
    label
        | pattern:
        input(type="text",ng-model="data.pattern")
    br
    div(ng-repeat="(name, option) in data.selectors track by name")
        | {{name}}:
        select(ng-model='data.selectors[name]',ng-options="c for c in options.grep[name]")
        br
    br

div(ng-if="isImplemented(data) && data.files !== undefined")
    | files :
    br(ng-if="data.files.length > 0")
    div(ng-repeat="file in data.files track by $index") 
        label
            span.box
            input(type="text",ng-model="data.files[$index]")
            button(ng-click="data.files.splice($index,1)"). -
            br
    button(ng-click="data.files.push('')"). +
    br


div(ng-if="data.exec == 'awk'")
    | script:
    br 
    textarea(type="text", ng-model='data.script')

div(ng-if="isImplemented(data) && data.parameters")
    div(ng-repeat="(name, option) in data.parameters track by name")
        | {{name}}:
        input(type="text", ng-model='data.parameters[name]')
        br


div(ng-if="isImplemented(data) && data.selectors && data.exec != 'grep' ")
    div(ng-repeat="(name, option) in data.selectors track by name")
        | {{name}}:
        select(ng-model='data.selectors[name]',ng-options="c for c in options[data.exec][name]")
        //-select(dropdown-model='data.selectors[name]',dropdown-select="options[data.exec][name]")
        br


div(ng-if="isImplemented(data) && data.parameterSelectors")
    div(ng-repeat="(name, option) in data.parameterSelectors track by name")
        | {{name}}:
        select(ng-model='data.parameterSelectors[name]',ng-options="c for c in paramOptions[data.exec][name]")
        br
        input(type="text", ng-model='data.parameterSelectors[name].value' ng-if="data.parameterSelectors[name].hasParameters")
        br
div
    div(ng-repeat="(nam, val) in data.flags track by nam")
        label
            input(type="checkbox",ng-model="data.flags[nam]")
            | {{nam}}
            br

