doctype
html
  head
    title Demo Week 4 - Omar Castro
    meta(charset="utf-8")
    link(rel="stylesheet",href="css/dropdowns.css")
    link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet",href="css/style.css")

  body(ng-app="report",style="margin:0;height:100%")
        .TransformResults(ng-controller="data-flow" style="height:100%")
            div(ng-init="res = TransformResults[0]",style="height:100%")
              .visual-builder.border.data-flow(graph-model="res.visualData" options="options" touch-action="none",style="position:fixed; top:0px;bottom:0;left:0;right:0")
                include graph.jade
  script(src="js/jquery-2.1.0.min.js")
  script(src="js/angular.min.js")
  //-script(src="js/angular-animate.min.js")
  script(src="js/ui-bootstrap-tpls.min.js")
  //-script(src="js/strap/angular-strap.min.js")
  //-script(src="js/strap/angular-strap.tpl.min.js")
  script(src="js/pointerevents.min.js")
  script(src="js4/parser.js")
  script(src="js4/reportApp.js")
  script(type="text/ng-template" id="myModalContent.html")
    include MacroCreationModal.jade
  script(type="text/ng-template" id="sidebarModel.html")
    include sidebar.jade
  script(type="text/ng-template" id="typeaheadTemplate.html")
    a
        span(bind-html-unsafe="match.label | typeaheadHighlight:query")
        span.badge. 14
