doctype
html
  head
    title Flownix demo 3 - Omar Castro
    meta(charset="utf-8")
    link(rel="stylesheet",href="css/keys.css")
    link(rel="stylesheet",href="css/dropdowns.css")
    link(rel="stylesheet",href="style.css")
  body(ng-app="report")
    