.modal-header
    h3. Macro Creation
.modal-body
    form.form-horizontal(role="form")
        .form-group
            label(for="name" class="col-sm-2 control-label"). Name
            .col-sm-10
                input(type="text" class="form-control" id="name" ng-model="form.name" placeholder="Name")
        .form-group
            label(for="descr" class="col-sm-2 control-label"). Description
            .col-sm-10
                textarea.form-control(id="descr" rows="3" ng-model="form.description")
        .form-group
            label(for="name" class="col-sm-2 control-label"). Command
            .col-sm-10
                input(type="text" class="form-control" id="command" ng-model="form.command" placeholder="e.g. cat -A hello.txt | grep \"world\"")

.modal-footer
    button.btn.btn-primary(ng-click="ok()"). Create Macro
    button.btn.btn-warning(ng-click="cancel()"). Cancel