ul.nav.nav-pills.nav-stacked
  li.nav-header Commands
  li(ng-repeat="command in implementedCommands")
    a(data-command="{{command}}" href="#" ng-bind="command")
  li.nav-header Macros
  li(sidebar-macro-component="name" ng-repeat="(name, val) in $parent.graphModel.macros")
  li.nav-header Utilities
  li
    a(new-macro ng-click='open()'). New Macro
